
<div>
  <h2>Courses</h2>
  <button (click)="add()">Add New Course</button>
  <h2></h2>
</div>
  
@let course = course$ | async;

  @if (course !== null && course !== undefined) {
    @if (course.length > 0) {
<table>
      @for (course of course; track course.id) {
        <tr>
          <td>{{ course.name }}</td>
          <td>
            <button class="btn btn-sm btn-info me-2" (click)="details(course.id)">View</button>
            <button class="btn btn-sm btn-warning me-2" (click)="edit(course.id)">Edit</button>
            <button class="btn btn-sm btn-danger" (click)="delete(course.id)">Delete</button>
          </td>
        </tr>
        <br>
      }
    
    </table>
  } @else {
      <div class="alert alert-warning">
        No categories found. Click "Add New Category" to create one.
      </div>
    }
  } @else {
    <div class="d-flex justify-content-center my-5">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  }
